@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

body {
  background: url('../images/food.png');
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}

.title {
  color: #fff;
}

.lists-container {
  margin-top: 40px;
}

/** List styles **/

.to-buy-list, .bought-list {
  background: rgba(0,0,0,0.1);
  padding: 15px;
  box-shadow: 0 20px 30px 0px rgba(0,0,0,0.1);
}

.list {
  margin-top: 30px;
}

.list-item {
  padding:10px;
  margin: 10px;
  font-size: 16px;
  background: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.list-title {
  font-size: 20px;
}

/* Button styles */
.bought-btn {
  background: #233;
  color: #fff;
  float: right;
  transition: all 0.3s ease-out 0.1s;
}
.bought-btn:focus, .bought-btn:active:focus, .bought-btn:active {
  outline: none;
}
.bought-btn:active {
  box-shadow: none;
}
.bought-btn:hover, .bought-btn:focus {
  background: #ccc;
  color: #233;
}

/** Placeholder styles **/
.placeholder {
  color: #eee;
  font-size: 16px;
  margin-top: 15px;
}

/** CSS animations **/
.list-item.ng-leave {
  opacity: 0.5;
}

.list-item.ng-leave-active,
.list-item.ng-enter {
  opacity: 0;
}

.list-item.ng-enter {
  transform: scale(0.8);
}

.list-item.ng-enter-active {
  opacity: 1;
  transform: scale(1);
}