<!DOCTYPE html>
<html ng-app="RestaurantMenuSearch">

  <head>
    <meta charset="utf-8">
    <title>Restaurant Menu Search</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css"/>
  </head>

  <body ng-controller="MainController as mainCtrl">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="title text-center">Find a dish</h1>
        </div>
      </div>

      <div class="row search">
        <div class="col-xs-12">
          <input type="text" id="search-box"
          ng-model="mainCtrl.searchDesc" placeholder="What are you looking for"/>
          <button class="btn" id="search-btn" ng-click="mainCtrl.searchMenu()">Narrow It Down For Me!</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <ul class="list-unstyled">
            <li ng-repeat="item in mainCtrl.items">
              <div class="col-xs-12 col-sm-2 col-md-4 col-lg-3">
                {{item.name}}
                <p>
                  {{item.description}}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>


    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>