<!DOCTYPE html>
<html ng-app="RestaurantMenuSearch">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Restaurant Menu Search</title>
    <link rel="stylesheet" href="css/materialize.min.css" />
    <link rel="stylesheet" href="css/main.css"/>
  </head>

  <body ng-controller="MainController as mainCtrl">
    <div class="container">
      <div class="row header">
        <div class="col s12">
            <h1 class="title">Find a dish</h1>
            <p class="description blue-text text-lighten-5">
              Search for foods that your taste buds crave for
            </p>
        </div>
      </div>

      <div class="row mt-40">
        <div class="col s12">
          <input type="text" id="search-box"
          ng-model="mainCtrl.searchDesc" placeholder="What are you looking for"/>
          <button class="btn waves-effect waves-light" id="search-btn" ng-click="mainCtrl.searchMenu(mainCtrl.searchDesc)">Narrow It Down For Me!</button>
        </div>
      </div>

      <div class="row">
        <div class="col s12 center-align" ng-if="mainCtrl.dataLoading">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-40">
        <div class="col s12">
          <ul>
            <li ng-repeat="item in mainCtrl.items">
              <div class="clearfix hide-on-med-and-down" ng-if="$index % 3 == 0"></div>
              <div class="clearfix hide-on-small-only hide-on-large-only" ng-if="$index % 2 == 0"></div>
              <div class="col s12 m6 l4">
                <menu-item item="item" index="$index"></menu-item>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>


    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>