body {
  background: #f9f9f9;
}
.main-title {
  font-weight: 300;
}
/** Home template **/
.content::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url('../images/food.jpg');
  background-position: center;
  min-height: 300px;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
}
.content .description {
  font-size: 2em;
  color: #222;
}

/** Category template **/
.sub-heading {
  font-size: 2.5rem;
  font-weight: 200;
}
.card .card-content .card-title {
  font-size: 20px;
  line-height: 32px;
}

.category-card .card-content .card-title {
  position: relative;
  font-weight: 400;
  top:15px;
}

.btn-floating.short-name {
  position: absolute;
  right: 10px;
  text-align: center;
  top: 5px;
}

/** Menu template **/
.menu-item-description {
  position: relative;
  top: 15px;
  padding-bottom:10px;
}

.menu-item-description:first-letter {
  text-transform: uppercase;
}