@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

body {
  font-family: 'Roboto';
}

/** Home template **/
.content::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url('../images/food.jpg');
  background-position: center;
  min-height: 300px;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
}
.content .description {
  font-size: 2em;
  color: #222;
}